/* ==========================================================================
   Description: This file is only to hanlde global scroll animations css styles, is expected to apply to all pages dynamically
   Autor: YASB
   Date: 23/10/2025
   ========================================================================== */

.scroll-hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.from-behind {
    transform: none;
}

.from-left {
    transform: translateX(-40px);
}

.from-right {
    transform: translateX(40px);
}

.from-bottom {
    transform: translateY(40px);
}

.from-top {
    transform: translateY(-40px);
}


.scroll-visible {
    opacity: 1;
    transform: translateY(0);
}